<section id="comments">
  <h2>💬 コメント</h2>
    <script src="https://giscus.app/client.js"
            data-repo="fixtan/my-blog"
            data-repo-id="R_kgDOOsUH4A"
            data-category="General"
            data-category-id="DIC_kwDOOsUH4M4Cq1N9"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="bottom"
            data-theme="preferred_color_scheme"
            data-lang="ja"
            crossorigin="anonymous"
            async>
    </script>
</section>